@media (max-width: 320px) {
    .text-white.text-decoration-none {
      font-size: 24px;
    }
  
    .fa-knight {
      font-size: 20px;
    }
  }
  
 
  @media (min-width: 321px) and (max-width: 575px) {
    .text-white.text-decoration-none {
      font-size: 37px;
    }
  
    .fa-knight {
      font-size: 33px;
    }
  }
  
 
  @media (min-width: 576px) and (max-width: 992px) {
    .text-white.text-decoration-none {
      font-size: 58px;
    }
  
    .fa-knight {
      font-size: 54px;
    }
  }
 
  @media (min-width: 993px) {
    .text-white.text-decoration-none {
      font-size: 80px;
    }
  
    .fa-knight {
      font-size: 76px;
    }
  }
  
  .fa-knight {
    margin-bottom: 10px;
  }
  
  .text-white.text-decoration-none {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    padding: 10px;
  }
  